.App {
  text-align: center;
}

.Button {
  margin-top: 27px !important;
  margin-left: 8px !important;
}

.Icon {
  margin-left: 10%;
}

.TableColor {
  background-color: #f0f0f0;
}

.Origem {
  width: 60%;
}

.TableSize {
  width: 94%!important;
  margin-left: 3%;
  margin-right: 3%;
}